body {
	background-color: 000000;
	font-family: monospace;
	color: FF6600;
	max-width: 720px;
	margin: auto;
}
.title {
	font-size: 200%;
	font-weight: 800;
}
.subtitle {
	font-weight: 800;
	font-style: italic;
}
a {
	color: #9B3F00;
	text-decoration: none
}
/*
a:visited 
{
	color: #9B3F00;
}
a:hover 
{
	color: #FFA364;
}
*/
img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
	height: auto;
	width: auto;
}
.article {
	font-family: Verdana, sans-serif;
}
.feed_title {
	font-size: 130%;
}
.publish_date{
	font-size: 60%;
}
.article_title{
	font-size: 150%;
}
.unread a{
	color: #FF8939;
}